---
---
:ruby
  # may be set by partials

  def keywords
    if is_front_page?
      tag_set.join(', ')
    else
      keywords = []
      unless @item[:tags].nil?
        keywords << @item[:tags]
      end
      unless @item[:keywords].nil?
        keywords << @item[:keywords]
      end
      keywords.join(', ')
    end
  end

  content = find_and_preserve(yield)

!!!
%html.no-js
  %head
    %title<
      - if @item[:title]
        = "#{@item[:title]} | #{site_name}"
      - else
        = site_name
    %meta{:charset => 'utf-8'}
    %meta{:name => 'keywords', :content => keywords}
    %meta{:name => 'description', :content => (@item[:excerpt] ? @item[:excerpt] : site_description)}
    %link{:href => '/assets/css/site.css', :rel => 'stylesheet', :type => 'text/css'}
    %script{:type => 'text/javascript', :src => '/assets/javascripts/modernizr-17.js'}
    = render('_ganalytics')

  %body

    #wrap

      %header
        - if is_front_page?
          %h1#logo= site_name
        - else
          %p#logo
            %a{:href => '/'}= site_name

        %nav
          %ul
            %li
              %a{:href => '/atom.xml'} Feed
            %li
              %a{:href => '/about.html'} About

        %form#search{:method => 'get', :action => '/search.html'}
          %fieldset
            %legend Search
            %input{:type => 'search', :placeholder => 'Search', :name => 'query'}

      - if @item[:kind] == 'article'
        %section#post
          = render('_article', :item => @item, :content => content)
          - if disqus_shortname && !is_front_page?
            = render('_disqus')
      - else
        = content

    %script{:type => 'text/javascript', :src => '/assets/javascripts/jquery-161.js'}
